
<div class="container">
  <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6" style="background-color:rgba(0,102,102,1	)" >
<h2 style="color:white ; padding-top:10px ; padding-bottom:10px">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <!-- <%= f.label :email %><br /> -->
    <%= f.hidden_field :email, autofocus: true%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <!-- <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br /> -->
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (leave blank if you don't want to change it)" %>
    <!-- <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %> -->
  </div>
  <br>

  <div class="field">
    <!-- <%= f.label :password_confirmation %><br /> -->
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirm "%>
  </div>
    <br>
  <div class="field">
    <!-- <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /> -->
    <%= f.password_field :current_password, autocomplete: "off" , class: "form-control", placeholder: "Current Password"%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
<hr>
    <p>


    <%= icon("google fa-3x", style: "color:white")%>
    <%if current_user.services.pluck(:provider).include?("google_oauth2")  %>
        <%=icon('check fa-3x', class: "strong", style: "color:white")%>
        <%else%>
          <%= link_to "Connect", user_google_oauth2_omniauth_authorize_path, style: "color:white"%>
    <% end %>
    </p>
  <p>
    <%=icon("facebook-square fa-3x", style: "color:white") %>
    <%if current_user.services.pluck(:provider).include?("facebook")  %>
        <%=icon('check fa-3x', class: "strong", style: "color:white")%>
        <% else %>
          <%=link_to "Connect", user_facebook_omniauth_authorize_path %>
    <% end %>
    </p>
  <hr>
<h3 style="color:white">Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

<%= link_to "Back", :back %>
</div>
</div>
</div>
