
<div class="container">
  <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6" >
    </div>
  <div class="col-lg-3" style="background-color:rgba(0,102,102,1)">
    <h2 style="color:white ; padding-top:10px">Sign up</h2>
    <br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"%>
    </div>

    <br>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password"%>
    </div>
    <br>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
    </div>
    <br>

    <div class="field">
      <%= f.select :role, [['Admin','Admin'],['user','user']]%>
    </div>

    <div class="actions " style="padding-bottom:10px">
      <%= f.submit "Sign up", class: "btn btn-primary" %><span> or </span><%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
</div>
</div>
