<% if current_user %>
<% if current_user.admin?%>
<p id="notice"><%= notice %></p>

<h1>Admin Categories</h1>

<table class = "table table-hover">
  <thead>
    <tr>
    <%= link_to 'New Admin Category', new_admin_category_path %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |admin_category| %>
      <tr>
        <td><%= admin_category.id %></td>
        <td><%= admin_category.name %></td>
        <td><%= link_to 'Show', admin_category_path(admin_category), class: "btn btn-primary btn-sm ", style: "color : white" %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(admin_category) %></td>
        <td><%= link_to 'Destroy', admin_category_path(admin_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%else%>
  <%flash[:error] = "You are not authorize to access members!" %>
  <%controller.redirect_to root_path %>
<%end%>
<%else%>
  <%flash[:error] = "admin_login required!" %>
  <%controller.redirect_to new_user_session_path %>
 <% end%>


