<div class="container">
<div class=" row ">
  <% @posts.each do |x| %>
  <span class="text-center jumbotron">
  <%= image_tag x.image.url(:medium)%>
  <br>
<%= x.description %>
<% if current_user %>
<% if current_user.role=="Admin" %>

<!-- <%= link_to 'Show', post_path(x)		%> -->
<%= link_to icon("pencil"), edit_post_path(x) %>
<%= link_to icon("trash"), post_path(x), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end%>
<% end%>

</span>
<% end %>
</div>
</div>
