<div class="container">
<div class=" row ">
  <% @posts.each do |x| %>
  <span class="text-center jumbotron">
  <%= image_tag x.image.url(:medium)%>
  <br>
<%= x.description %>
<% if can? :create, x %>
<%= link_to 'Show', post_path(x)		%>
<%= link_to 'Edit', edit_post_path(x) %>
<%= link_to 'Destroy', post_path(x), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end%>
</span>
<% end %>
</div>
</div>
