<!DOCTYPE html>
<html>
  <head>
  <style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #006666;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #045252}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #343a40;
}
</style>
    <title>InstagramApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image : url('/assets/cream.jpg'); width:100% ;height:100px; background-repeat: repeat-y">
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <%=link_to 'Instagram', root_url, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>

         	<% if current_user %>

          <li class="nav-item">

              <%=link_to "New Post", new_post_path, class: "nav-link" %>
            </li>

           	<li><%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete, confirm: "Are You Sure? " %></li>
            <li><%=link_to "Change Password", edit_user_registration_path, class: "nav-link" %></li>
            <% if current_user.role=="Admin"%>
              <div class="dropdown">
              <div  class="nav-link">Admin</div>
              <li class="dropdown-content">
                <%=link_to "Users", admin_members_path, class: "nav-link" %>
                <%=link_to "Interests", edit_user_registration_path, class: "nav-link" %>
                <%=link_to "Posts",  edit_user_registration_path, class: "nav-link" %>
                <%=link_to "categories", admin_categories_path, class: "nav-link" %>
              </li>
              </div>
                 <%end%>
         	<% else %>
         	<li>
         	<%=link_to "Login", new_user_session_path, class: "nav-link" %>
         	</li>
         	<li>
         	<%=link_to "Register", new_user_registration_path, class: "nav-link" %>
         	</li>
         	<% end %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <%flash.each do |a,b| %>
        <div class="alert alert-success"><%= b %> </div>
        <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

    <style>body{padding-top: 70px}</style>
  </body>
</html>
